SOA_Ex2/WorldSOAPClient/WorldSOAPClient/Web References/localhost/WebService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="getAllCities">
        <s:complexType />
      </s:element>
      <s:element name="getAllCitiesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getAllCitiesResult" type="tns:ArrayOfCity" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCity">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="City" nillable="true" type="tns:City" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="City">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CountryCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="District" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Population" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="getAllCountries">
        <s:complexType />
      </s:element>
      <s:element name="getAllCountriesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getAllCountriesResult" type="tns:ArrayOfCountry" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCountry">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Country" nillable="true" type="tns:Country" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Country">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Code" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Continent" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Region" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SurfaceArea" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="IndepYear" nillable="true" type="s:short" />
          <s:element minOccurs="1" maxOccurs="1" name="Population" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="LifeExpectancy" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="GNP" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="GNPOld" nillable="true" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="LocalName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GovernmentForm" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="HeadOfState" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Capital" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Code2" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="getCountryByCode">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="code" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getCountryByCodeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getCountryByCodeResult" type="tns:Country" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getCityByName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getCityByNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getCityByNameResult" type="tns:ArrayOfCity" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getCitiesByCountryCode">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getCitiesByCountryCodeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getCitiesByCountryCodeResult" type="tns:ArrayOfCity" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="getAllCitiesSoapIn">
    <wsdl:part name="parameters" element="tns:getAllCities" />
  </wsdl:message>
  <wsdl:message name="getAllCitiesSoapOut">
    <wsdl:part name="parameters" element="tns:getAllCitiesResponse" />
  </wsdl:message>
  <wsdl:message name="getAllCountriesSoapIn">
    <wsdl:part name="parameters" element="tns:getAllCountries" />
  </wsdl:message>
  <wsdl:message name="getAllCountriesSoapOut">
    <wsdl:part name="parameters" element="tns:getAllCountriesResponse" />
  </wsdl:message>
  <wsdl:message name="getCountryByCodeSoapIn">
    <wsdl:part name="parameters" element="tns:getCountryByCode" />
  </wsdl:message>
  <wsdl:message name="getCountryByCodeSoapOut">
    <wsdl:part name="parameters" element="tns:getCountryByCodeResponse" />
  </wsdl:message>
  <wsdl:message name="getCityByNameSoapIn">
    <wsdl:part name="parameters" element="tns:getCityByName" />
  </wsdl:message>
  <wsdl:message name="getCityByNameSoapOut">
    <wsdl:part name="parameters" element="tns:getCityByNameResponse" />
  </wsdl:message>
  <wsdl:message name="getCitiesByCountryCodeSoapIn">
    <wsdl:part name="parameters" element="tns:getCitiesByCountryCode" />
  </wsdl:message>
  <wsdl:message name="getCitiesByCountryCodeSoapOut">
    <wsdl:part name="parameters" element="tns:getCitiesByCountryCodeResponse" />
  </wsdl:message>
  <wsdl:portType name="WebService1Soap">
    <wsdl:operation name="getAllCities">
      <wsdl:input message="tns:getAllCitiesSoapIn" />
      <wsdl:output message="tns:getAllCitiesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getAllCountries">
      <wsdl:input message="tns:getAllCountriesSoapIn" />
      <wsdl:output message="tns:getAllCountriesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getCountryByCode">
      <wsdl:input message="tns:getCountryByCodeSoapIn" />
      <wsdl:output message="tns:getCountryByCodeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getCityByName">
      <wsdl:input message="tns:getCityByNameSoapIn" />
      <wsdl:output message="tns:getCityByNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getCitiesByCountryCode">
      <wsdl:input message="tns:getCitiesByCountryCodeSoapIn" />
      <wsdl:output message="tns:getCitiesByCountryCodeSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebService1Soap" type="tns:WebService1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getAllCities">
      <soap:operation soapAction="http://tempuri.org/getAllCities" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllCountries">
      <soap:operation soapAction="http://tempuri.org/getAllCountries" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCountryByCode">
      <soap:operation soapAction="http://tempuri.org/getCountryByCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCityByName">
      <soap:operation soapAction="http://tempuri.org/getCityByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCitiesByCountryCode">
      <soap:operation soapAction="http://tempuri.org/getCitiesByCountryCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebService1Soap12" type="tns:WebService1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getAllCities">
      <soap12:operation soapAction="http://tempuri.org/getAllCities" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllCountries">
      <soap12:operation soapAction="http://tempuri.org/getAllCountries" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCountryByCode">
      <soap12:operation soapAction="http://tempuri.org/getCountryByCode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCityByName">
      <soap12:operation soapAction="http://tempuri.org/getCityByName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCitiesByCountryCode">
      <soap12:operation soapAction="http://tempuri.org/getCitiesByCountryCode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService1">
    <wsdl:port name="WebService1Soap" binding="tns:WebService1Soap">
      <soap:address location="https://localhost:44336/api/WebService1.asmx" />
    </wsdl:port>
    <wsdl:port name="WebService1Soap12" binding="tns:WebService1Soap12">
      <soap12:address location="https://localhost:44336/api/WebService1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>